/* General font style */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  font-family: "Roboto", sans-serif;
  /* font-style: normal; */
  /* font-weight: 400; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General page tab style. */
#genTabStyle {
  background: rgb(21, 137, 46);
  height: 119px;
  width: 100%;
  /* overflow: hidden; */
}
#genTabStyleSub {
  /* height: auto; */
  max-width: 1370px;
  margin: auto;
  /* display: flex; */
  /* align-items: center; */
}
#homeTop {
  margin: 8px;
  float: left;
  border-radius: 50%;
}
#genTabGroup {
  height: 103px;
  margin: 8px;
  padding: 0;
  /* overflow: hidden; */
  /* display: inline-block; */
  float: left;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.genTab {
  /* height: 103px; */
  /* margin: 8px 0; */
  /* display: flex; */
  color: black;
  text-align: center;
  /* align-items: center; */
  padding: 16px;
  text-decoration: none;
}
.genTab:hover {
  color: white;
  border-radius: 2px;
  transition: 0.25s;
}
#genTabLogin {
  height: 103px;
  padding: 0 16px;
  margin: 8px 0;
  float: right;
  display: flex;
  align-items: center;
  font-weight: bold;
}
#genTabLogin:hover {
  color: white;
  transition: 0.25s;
  cursor: pointer;
}

/* General content style */
#genContentStyle {
  width: 100%;
  /* overflow: hidden; */
}

/* General page footer style. */
#genFooter {
  width: 100%;
  background-color: rgb(21, 137, 46);
}
#genFooterAccent {
  background: rgb(21, 137, 46);
  height: 52px;
  max-width: 1370px;
  margin: auto;
  /* overflow: hidden; */
}
#genFooterBackTop {
  height: 52px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  background: rgb(47, 46, 46);
  color: white;
  /* border-radius: 2px; */
  float: right;
  /* overflow: hidden; */
  text-decoration: none;
}
#genFooterBackTop:hover {
  background-color: rgb(21, 137, 46);
  color: black;
  /* border-radius: 2px; */
  transition: 0.25s;
}
#genFooterTable {
  background: rgb(47, 46, 46);
  color: white;
  max-width: 1370px;
  margin: auto;
  padding: 16px 0;
  display: flex;
  justify-content: space-evenly;
}
.genFootertd {
  float: left;
  text-indent: 2em;
  width: 325px;
}
.genFootertd #genFootertd2nd {
  list-style: none;
}
.genFooterHead {
  text-indent: 0;
  margin: 8px 0;
}
#genFooterPP {
  background: rgb(37, 36, 36);
  color: white;
  text-align: center;
  padding: 8px;
}
.genFooterGenLink {
  color: white;
  text-decoration: none;
}
.genFooterGenLink:hover {
  color: rgb(21, 137, 46);
  transition: 0.25s;
}

/* General Footer Customer Support */
.genFooterHelp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: rgb(21, 137, 46);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px rgb(37, 36, 36);
}
.label-container {
  position: fixed;
  bottom: 48px;
  right: 105px;
  display: table;
  visibility: hidden;
}
.label-text {
  color: #fff;
  background: rgba(37, 36, 36, 0.5);
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  border-radius: 3px;
}
.label-arrow {
  display: table-cell;
  vertical-align: middle;
  color: rgb(37, 36, 36);
  opacity: 0.5;
}
div.genFooterHelp + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.25s ease;
}
div.genFooterHelp:hover + div.label-container {
  visibility: visible;
  opacity: 1;
}
div.genFooterHelp {
  background: rgb(47, 46, 46);
  background-image: url(../photos/81802832_2556869651193212_82644477067227.webp);
  background-size: cover;
  background-position: center;
}

/* Default device size, as originally styled above or before media query section: PC */
/* 1020px -> +++ */

/* Larger tablet, small PC screen */
/* Width: 750px -> 1008px */
@media screen and (max-width: 1020px) {
  /* General page tab style. */
  /* inherit */

  /* General page footer style. */
  #genFooterAccent {
    min-width: 320px;
  }
  #genFooterTable {
    height: calc(170px * 3);
    min-width: 320px;
    padding: 4px 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .genFootertd {
    border: 4px solid rgba(0, 0, 0, 0);
    width: 730px;
    margin: 0 4px;
    text-indent: 0;
    text-align: center;
  }

  /* General Footer Customer Support */
  /* inherit */
}

/* Tablet */
/* Width: 414px -> 750px */
@media screen and (max-width: 750px) {
  /* General page tab style. */
  #genTabStyle {
    height: auto;
    min-width: 320px;
  }
  #genTabStyleSub {
    /* visibility: hidden; */
    background: rgb(21, 137, 46);
    height: auto;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #homeTop {
    float: none;
    border-radius: 50%;
  }
  #genTabGroup {
    height: auto;
    min-width: 410px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    float: none;
  }
  .genTab {
    width: 255px;
    padding: 8px;
  }
  #genTabLogin {
    height: 0;
    padding: 16px;
    margin: 8px;
    float: none;
    display: flex;
    align-items: center;
  }

  /* General page footer style. */
  .genFootertd {
    width: 410px;
  }

  /* General Footer Customer Support */
  /* inherit */
}

/* Mobile */
/* Width: 320px -> 414px */
@media screen and (max-width: 430px) {
  /* General page tab style. */
  #genTabGroup {
    height: auto;
    min-width: 120px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .genTab {
    width: auto;
    padding: 8px 0;
  }

  /* General page footer style. */
  .genFootertd {
    width: 300px;
  }

  /* General Footer Customer Support */
  .genFooterHelp {
    bottom: 20px;
    right: 20px;
  }
}
