/* General font style */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  font-family: "Roboto", sans-serif;
  /* font-style: normal; */
  /* font-weight: 400; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General page tab style. */
#genTabStyle {
  background: rgb(21, 137, 46);
  height: 119px;
  width: 100%;
  /* overflow: hidden; */
}
#genTabStyleSub {
  /* height: auto; */
  max-width: 1370px;
  margin: auto;
  /* display: flex; */
  /* align-items: center; */
}
#homeTop {
  margin: 8px;
  float: left;
  border-radius: 50%;
}
#genTabGroup {
  height: 103px;
  margin: 8px;
  padding: 0;
  /* overflow: hidden; */
  /* display: inline-block; */
  float: left;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.genTab {
  /* height: 103px; */
  /* margin: 8px 0; */
  /* display: flex; */
  color: black;
  text-align: center;
  /* align-items: center; */
  padding: 16px;
  text-decoration: none;
}
.genTab:hover {
  color: white;
  border-radius: 2px;
  transition: 0.25s;
}
#genTabLogin {
  height: 103px;
  padding: 0 16px;
  margin: 8px 0;
  float: right;
  display: flex;
  align-items: center;
  font-weight: bold;
}
#genTabLogin:hover {
  color: white;
  transition: 0.25s;
  cursor: pointer;
}

/* General content style */
#genContentStyle {
  width: 100%;
  /* overflow: hidden; */
}

/* General page footer style. */
#genFooter {
  width: 100%;
  background-color: rgb(21, 137, 46);
}
#genFooterAccent {
  background: rgb(21, 137, 46);
  height: 52px;
  max-width: 1370px;
  margin: auto;
  /* overflow: hidden; */
}
#genFooterBackTop {
  height: 52px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  background: rgb(47, 46, 46);
  color: white;
  /* border-radius: 2px; */
  float: right;
  /* overflow: hidden; */
  text-decoration: none;
}
#genFooterBackTop:hover {
  background-color: rgb(21, 137, 46);
  color: black;
  /* border-radius: 2px; */
  transition: 0.25s;
}
#genFooterTable {
  background: rgb(47, 46, 46);
  color: white;
  max-width: 1370px;
  margin: auto;
  padding: 16px 0;
  display: flex;
  justify-content: space-evenly;
}
.genFootertd {
  float: left;
  text-indent: 2em;
  width: 325px;
}
.genFootertd #genFootertd2nd {
  list-style: none;
}
.genFooterHead {
  text-indent: 0;
  margin: 8px 0;
}
#genFooterPP {
  background: rgb(37, 36, 36);
  color: white;
  text-align: center;
  padding: 8px;
}
.genFooterGenLink {
  color: white;
  text-decoration: none;
}
.genFooterGenLink:hover {
  color: rgb(21, 137, 46);
  transition: 0.25s;
}

/* General Footer Customer Support */
.genFooterHelp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: rgb(21, 137, 46);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px rgb(37, 36, 36);
}
.label-container {
  position: fixed;
  bottom: 48px;
  right: 105px;
  display: table;
  visibility: hidden;
}
.label-text {
  color: #fff;
  background: rgba(37, 36, 36, 0.5);
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  border-radius: 3px;
}
.label-arrow {
  display: table-cell;
  vertical-align: middle;
  color: rgb(37, 36, 36);
  opacity: 0.5;
}
a.genFooterHelp + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.25s ease;
}
a.genFooterHelp:hover + div.label-container {
  visibility: visible;
  opacity: 1;
}
a.genFooterHelp:hover {
  background: rgb(47, 46, 46);
  background-image: url(../photos/81802832_2556869651193212_82644477067227.webp);
  background-size: cover;
  background-position: center;
}

/* Default device size, as originally styled above or before media query section: PC */
/* 1020px -> +++ */

/* Larger tablet, small PC screen */
/* Width: 750px -> 1008px */
@media screen and (max-width: 1020px) {
  /* General page tab style. */

  /* General page footer style. */
  #genFooterAccent {
    min-width: 320px;
  }
  #genFooterTable {
    height: calc(170px * 3);
    min-width: 320px;
    padding: 4px 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .genFootertd {
    border: 4px solid rgba(0, 0, 0, 0);
    width: 730px;
    margin: 0 4px;
    text-indent: 0;
    text-align: center;
  }

  /* General Footer Customer Support */
}

/* Tablet */
/* Width: 414px -> 750px */
@media screen and (max-width: 750px) {
  /* General page tab style. */
  #genTabStyle {
    height: auto;
    min-width: 320px;
  }
  #genTabStyleSub {
    /* visibility: hidden; */
    background: rgb(21, 137, 46);
    height: auto;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #homeTop {
    float: none;
    border-radius: 50%;
  }
  #genTabGroup {
    height: auto;
    min-width: 410px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    float: none;
  }
  .genTab {
    width: 255px;
    padding: 8px;
  }
  #genTabLogin {
    height: 0;
    padding: 16px;
    margin: 8px;
    float: none;
    display: flex;
    align-items: center;
  }

  /* General page footer style. */
  .genFootertd {
    width: 410px;
  }

  /* General Footer Customer Support */
}

/* Mobile */
/* Width: 320px -> 414px */
@media screen and (max-width: 430px) {
  /* General page tab style. */
  #genTabGroup {
    height: auto;
    min-width: 120px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .genTab {
    width: auto;
    padding: 8px 0;
  }

  /* General page footer style. */
  .genFootertd {
    width: 300px;
  }

  /* General Footer Customer Support */
  .genFooterHelp {
    bottom: 20px;
    right: 20px;
  }
}

/* Notes on CSS
Inline CSS, Internal CSS, External CSS
id, class
div, span
Last Rule, Specificity, Universal Selector
Colors
  RGB, RGBA, HEX
Pixels, Font-Size, Width, Height
Percent Values
Em-Rem Values
  Note: rem is relative to root; em is relative to parent. Both are relative units and are equal to default browser style 16px.
VH And VW
Default Browser Syles
Calc Function
  height: calc(50px + 0.5);
Fonts
  font-family, font-weight, font-style
  font: font-style font-variant font-weight font-size/line-height font-family;
Text Properties
  text-align, text-indent, line-height, letter-spacing, word-spacing, text-transform, text-decoration
Padding, Margin, Border, Border-Radius, Outline
<style>border: 20px solid black;</style>
box-sizing: border-box;
display: flex|inline-block|block|inline;
display: none;, opacity, visibility
Background-Image-Property
  Background-Repeat, Background-Size, Background-Position, Background-Attachment
Linear-Gradient
  <div style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(#) center/cover fixed no-repeat;">
    This is DIV
  </div>
Float Property (and Clear)
Position Property
Media Queries
    @media screen and ()
Z-Index
::Before and ::After Pseudo Elements (Note: Does not work with with img)
Descendant and Child Selectors/Combinators
  <head>
    <style>
        body div {}
        body > div {}
    <style>
  </head>
  <body>
    <section>
      <div>
        <span></span>
        </div>
    </section>
    <div>
      <p></p>
    </div>
  <body>
Pseudo-element
  ::before, ::after, ::first-line, ::first-letter
Pseudo-class
  :hover, :link, :visited, :active
Root pseudo-class
  Note: Styles the root element of the document. Used mostly for general styles and can be used with CSS variables.
  <style>
    :root {
      font-size: 150%;
    }
    div {
      font-size: 16px;
    }
    span {
      font-size: 1rem;
    }
    </style>
Transform
  Note: Applies a 2D or 3D transformation to an element.
  translate (), rotate (), scale (), skew ()
Transition
  Note: Change over time.
  transition-property: ; transition-duration: ; transition-delay: ; transition-timing-function: ;
  <style>
    transition: background 0.25s 2s, border-radius 0.25s 2s;
  </style>
  ease = default; slow start, fast, slow end
  linear = same speed start to end
  ease-in = slow start
  ease-out = slow end
  ease-in-out = slow start, fast, slow end
Animation
  Note: Change over time with points.
  animation-name: ; animation-duration: ; animation-iteration-count: 2;
  <style>
    .animation {
      background: black;
      animation: move 5s infinite;
    }
    @keyframes move {
      0% {
        transform: 50px;
      }
      20% {
        transform: 100px;
      }
      60% {
        transform: 150px;
      }
      100% {
        transform: 200px;
      }
    }
  </style>
  animation-fill-mode: forwards|backwards|both;
  animation-direction: normal|reverse|alternate|alternate-reverse;
CSS Variables (a.k.a. custom properties)
  --varName: value;
  property: var(--varName);
  scope (:root{} === global, element === local)
  Can be used with any property.
    <head>
      <style>
        :root {
        --blue: #1e90ff;
        --weirdNameForColor: #f15025;
        --mainTransition: all 0.25s ease;
        }
        h2 {
          color: var(--blue);
          transition: var(mainTransition);
        }
        h2:hover {
          color: var(--weirdNameForColor);
        }
        div {
          --white: #ffffff;
          border: 2px solid var(--blue);
        }
        span {
          background-color: var(--white);
        }
      </style>
    </head>
    <body>
      <h2></h2>
      <div>
        <span></span>
      </div>
    </body>
text-shadow, box-shadow
  text-shadow: x-axis y-axis blur spread color;
  box-shadow: x-axis y-axis blur spread color;
  <style>
    text-shadow: 5px 5px 3px black;
  </style>
Browser Prefixes
  <style>
    .example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
      -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
    }
  </style>
Semantic HTML (Semantic Tags)
  Note: A semantic element clearly describes its meaning to both the browser and the developer. Examples of non-semantic elements: <div> and <span>; tells nothing about its content. Examples of semantic elements: <aside>, <details>, <figcaption>, <figure>, <footer>, <header>, <main>, <mark>, <nav>, <section>, <summary>, <time>, <form>, <table>, and <article>; clearly defines its content.
Emmet Snippets
  h1.banner ===
    <h1 class="banner"></h1>
  p#special ===
    <p id="special"></p>
  #section.homeC1.homeC2 ===
    <div id="section" class="homeC1 homeC2"></div>
  div>ul>li*3 ===
    <div>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  p{some text} ===
    <p>some text</p>
  ul>li*3{$} ===
    <ul>
      <li>1<li>
      <li>2<li>
      <li>3<li>
    </ul>
*/
